<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>About Us</title>
	<meta name="description" content="About">
	<meta name="Jees_Balan" content="SitePoint">

</head>

<body>
	<p>
		This website will help victims or relatives of victims to request help from voluntary rescuers. Relatives of victims can know the status (Safe or Unsafe) of the victims based on their mobile number. 
	</p>
	<p>
		Rescue teams can locate the number of victims in a locality based on gps data for a range from 1km to 5 km. 
	</p>
	<p>
		<h3>PLEASE NOTE: This website relies on the rescue center/ rehabilitation center to update the status of the victims. Alternatively, relatives of victims or victims can also update their status.</h3> 
	</p>

	<p>
		For issues with the website please contact <a href="mailto:augustine_jees@gmail.com"> Jees Augustine </a> <br> or <a href="mailto:yugendrabalan@gmail.com"> Balan Ramesh</a>.
	</p>
</body>
</html>
