<!doctype html>
<html>

   <body>
   <form action = "{{ url_for('rescue_1') }}" method = "POST">
   <center>
      <h1> {{ msg }}</h1>
      <h2>നിങ്ങൾ ആവശ്യപ്പെട്ട സേവനം ലഭിച്ചോ? </h2>
      <table>
         <tr>
            <td>
               നിങ്ങളുടെ വിലാസം ഇംഗ്ലീഷ് ഇൽ ടൈപ്പ് ചെയ്യുക 
            </td>
            <td>
               <textarea name = "add" ></textarea><br>
            </td>
         </tr>
         <tr>
            <td>ഇത്ര കിലോമീറ്ററിനുള്ളിൽ തിരയുക</td>
            <td>
               <select name = "radius">
               <option value="one">1 Kms</option> 
               <option value="two">2 Kms</option> 
               <option value="three">3 Kms</option> 
               <option value="five">5 Kms</option> 
            </td>
         </tr>
      </table>
      <br> 
      
      <br>
      <input type = "submit" value = "submit" /><br>
      <h2> <a href = "/">Home</a> </h2>
   </body>
</html>