<html>
<!-- Developed by Jees Augustine, Balan Ramesh, Jiss Sebastian and Sandeep Eldo -->
   <body>      
      <center>
      <header> <h1> Information Requst Portal </h1> </header>
      <br> <br>
      <form action = "{{ url_for('status_1') }}" method = "POST">
      <h3>നിങ്ങളുടെ ഫോൺ നമ്പർ അഥവാ ടോക്കൺ നമ്പർ ഇവിടെ നൽകുക:</h3>

      <table>
         <tr>
            <td>നിങ്ങളുടെ ഫോൺ നമ്പർ അഥവാ ടോക്കൺ നമ്പർ ഇവിടെ നൽകുക:</td>
            <td><input type = "text" name = "phone_"><br></td>
         </tr>
      </table>
   <br><br>
   സബ്മിറ് (Submit) ബട്ടൺ അമർത്തുന്നതിനു മുൻപ്, ശരിയായ ഫോൺ നമ്പർ അഥവാ ടോക്കൺ നമ്പർ ആണ് നൽകിയിരിക്കുന്നതെന്ന് ഉറപ്പു വരുത്തുക.
   <br><br>
      <input type = "Submit" value = "submit" /><br>
      
      </form>
      <br>
      <h2> <a href = "/">Home</a> </h2>
      
   </body>
</html>