<html>
<!-- Developed by Jees Augustine, Balan Ramesh, Jiss Sebastian and Sandeep Eldo -->
   <body>      
      <center>
      <header> <h1> Information Request Portal </h1> </header>
      <br> <br>
      <form action = "{{ url_for('addrec') }}" method = "POST">
      <h3>Rescue Operation Information</h3>

      <table>
         <tr>
            <td>അടിയന്തിര സാഹചര്യം എന്താണ്? - Nature of Emergency</td>
            <td>  <select name = "emer">
                     <option value="med">അത്യാവശ്യ വൈദ്യസഹായം(പ്രസവ വേദന, പാമ്പു കടി, അബോധാവസ്ഥ) Emergency Medical Care (Delivery, SnakeBite, Unconsciousness)</option>
                     <option value="move">സുരക്ഷിത സ്ഥാനത്തേക്ക് മാറണം(Move to a safe place)</option>
                     <option value="food">ഭക്ഷണം, വസ്ത്രം, മരുന്ന്(Dress, Medicine, Food, Water)</option>
                  </select> </td>
         <tr>
            <td>ജില്ല - District</td>
            <td>
               <select name = "dist">
                  <option value="alp">ആലപ്പുഴ(Alappuzha)</option>
                  <option value="ekm">എറണാകുളം(Ernakulam)</option>
                  <option value="idk">ഇടുക്കി(Idukki)</option>
                  <option value="knr">കണ്ണൂർ(Kannur)</option>
                  <option value="kol">കാസർഗോഡ്(Kasaragod)</option>
                  <option value="klm">കൊല്ലം(Kollam)</option>
                  <option value="ktm">കോട്ടയം(Kottayam)</option>
                  <option value="koz">കോഴിക്കോട്(Kozhikode)</option>
                  <option value="mpm">മലപ്പുറം(Malappuram)</option>
                  <option value="pkd">പാലക്കാട്(Palakkad)</option>
                  <option value="ptm">പത്തനംതിട്ട(Pathanamthitta)</option>
                  <option value="tvm">തിരുവനന്തപുരം(Thiruvananthapuram)</option>
                  <option value="tcr">തൃശ്ശൂർ(Thrissur)</option>
                  <option value="wnd">വയനാട്(Wayanad)</option>
               </select>
            </td> 
         </tr>
         <tr>
            <td>
                പേര് - Name:
            </td>
            <td><input type = "text" name = "fname_"><br></td>
         </tr>
         <tr>
            <td>വിലാസം - Address</td>
            <td><textarea name = "add" ></textarea><br></td>
         </tr>
         <tr>
            <td>ഫോൺ നമ്പർ - Phone No</td>
            <td><input type = "text" name = "phone_"><br></td>
         </tr>
         <tr>
            <td>
               ബദൽ ഫോൺ നമ്പർ - Alt Phone No
            </td>
            <td>
               <input type = "text" name = "alt_phone_"><br>
            </td>
         </tr>
         <tr>
            <td>
               പിൻ കോഡ് - PIN Code
            </td>
            <td>
               <input type = "text" name = "pin" /><br>
            </td>
         </tr>
         <tr>
            <td>മുഴുവൻ ആളുകളുടെ എണ്ണം - Total Number of People </td>
            <td><input type = "text" name = "total_" /><br></td>
         </tr>
         <tr>
            <td>കുട്ടികൾ - Kids</td>
            <td><select name = "kids">
                  <option value="yes">ഇല്ല - No</option>
                  <option value="no">ഉണ്ട് - Yes</option>
               </select>
            </td>
         </tr>
         <tr>
            <td>മുതിർന്നവർ - Elderly </td>
            <td><select name = "elderly_">
                  <option value="yes">ഇല്ല - No</option>
                  <option value="no">ഉണ്ട് - Yes</option>
               </select>
            </td>
         </tr>
         <tr>
            <td>ഗർഭിണികൾ - Pregnant </td>
            <td><select name = "pregnent_">
                  <option value="yes">ഇല്ല - No</option>
                  <option value="no">ഉണ്ട് - Yes</option>
               </select>
            </td>
         </tr>
         <tr>
            <td>ശാരീരികാസ്വാസ്ഥ്യമുള്ളവർ - Sick </td>
            <td><select name = "sick_">
                  <option value="yes">ഇല്ല - No</option>
                  <option value="no">ഉണ്ട് - Yes</option>
               </select>
            </td>
         </tr>
   </table>
   <br><br>
   submit ബട്ടൺ അമർത്തുന്നതിനു മുൻപ്, ശരിയായ വിലാസം ആണ് നൽകിയിരിക്കുന്നതെന്ന് ഉറപ്പു വരുത്തുക.
   <br><br>
      <input type = "submit" value = "submit" /><br>
      
      </form>
      <br>
      <h2> <a href = "/">Home</a> </h2>
      
   </body>
</html>